.services{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    animation: scroll; 
    animation-timeline: view();
    animation-range:  entry 0 cover 50%;
}
/*loding animation*/
@keyframes scroll {
    from {
        opacity: 0;
        transform:scale(0) ;
    }
    
    to {
        opacity: 1;
        transform: scale(1);
    }
}
   
.service-btn button{
    width: 214px;
    height: 50px;
    border-radius: 44.5px;
    background-image:linear-gradient(to right, #626974,#0E1A31);
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: #FFFFFF 1px solid;
    transition: all 0.3s ease-in-out;
}
.service-btn button:hover{
    background-image:linear-gradient(to right, #0E1A31,#626974);
    transform: scale(1.05);
}
/*service card*/
.service-card{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}
.services .card{
    width: 270px;
    height: 300px;
    border-radius: 46px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

#first{
    background-image: linear-gradient(to top,#661C13,#DD4132);
}
#second{
    background-image: linear-gradient(to top,#0F254B,#4582EB);
}
#third{
    background-image: linear-gradient(to top,#0B441F,#34A552);
}
#fourth{
    background-image: linear-gradient(to top,#795F11,#ECBD33);
}

@media screen and (max-width: 768px) {
    .services{
        height: 100vh;
        margin-top: 60vh;
        margin-bottom: 60vh;
    }
    .service-card{
        flex-direction: column;
    }
    
}